<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-12 mb-2 justify-content-center mb-md-0">
        <li><a href="./" class="nav-link px-2 link-dark">Главная страница</a></li>
        <li><a href="" class="nav-link px-2 link-secondary">SRM</a></li>
        <li><a href="./pricelist" class="nav-link px-2 link-dark">Цены</a></li>
        <li><a href="./manual" class="nav-link px-2 link-dark">Руководство</a></li>
        <li><a href="./about" class="nav-link px-2 link-dark">Про нас</a></li>
    </ul>
</header>

<div th:if="${param.error}" class="text-center">
    Неверный логин или пароль.
</div>
<div th:if="${param.logout}" class="text-center">
    Вы вышли из аккаунта.
</div>
<div class="container text-center" style="width:20rem;">
<form th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 fw-normal ">Пожалуйста, войдите</h1>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="username">
        <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password">
        <label for="floatingPassword">Пароль</label>
    </div>
    <div>
        <button class="w-100 btn btn-lg btn-primary py-3" type="submit">Войти</button>
    </div>
    <a href="./registration" class="nav-link px-2 link-secondary">Зарегистрироваться</a>
    <p class="mt-5 mb-3 text-muted">© 2022 AMIR company, Inc</p>
</form>
</div>
</body>
</html>
