<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <ul class="nav col-12 mb-2 justify-content-center mb-md-0">
            <li><a href="./" class="nav-link px-2 link-dark">Главная страница</a></li>
            <li><a href="./srm" class="nav-link px-2 link-dark">SRM</a></li>
            <li><a href="./pricelist" class="nav-link px-2 link-dark">Цены</a></li>
            <li><a href="" class="nav-link px-2 link-secondary">Руководство</a></li>
            <li><a href="./about" class="nav-link px-2 link-dark">Про нас</a></li>
        </ul>

    </header>
</div>
</body>
</html>