<div id="menu" th:fragment="srmmenu">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="menu-inner">
        <ul>
            <li><a href=".."><strong>Главная</strong></a></li>
            <li><a href="/srm/news_list">Новости</a></li>
            <li><a href="files/Руководство.pdf" download>Руководство<br>пользователя</a></li>
            <li class="border-top w-75" style="padding-bottom: 0px"></li>
            <li style="color: black; font-size: 18px"><a href="/srm/orders/current_orders">Заказы</li>
            <li><a href="/srm/orders/new_order">Новый запрос</a></li>
            <li><a href="/srm/orders/current_orders">В процессе</a></li>
            <li><a href="/srm/orders/completed_orders">Завершенные</a></li>
            <li><a href="/srm/orders/canceled_orders">Отменённые</a></li>
            <li><a th:if="${role != '[USER]'}" href="/srm/orders/future_orders">Согласовать</a></li>
            <li th:if="${role != '[USER]'}" class="border-top w-75"><a href="/srm/create_news">Опубликовать<br>новость</a></li>
            <li th:if="${role == '[ADMIN]'}" class="border-top w-75"><a href="/srm/admin">Админ-панель</a></li>
            <li class="border-top w-75"></li>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <strong th:text="${username}"></strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" th:href="@{srm/profile/{id}(id = ${username})}">Профиль</a></li>
                    <li><hr class="dropdown-divider">
                        <form action="" th:action="@{/logout}" method="post"><button class="dropdown-item" type="submit">Выйти</button></form>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>